extends container
block content
    p Hello #{userName}!
    p We noticed that you haven't been with us for a long time. Bagpipe to us !!! We have a lot of new and interesting. We are waiting for you !!!